body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 18px;
  color: #dcddde;
  background-color: #36393f;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 5px;
  border-bottom: 2px solid #70767b;
}

#registerButton,
#editButton,
#deleteButton {
  margin: 5px;
  padding: 10px;
  font-size: large;
  color: #36393f;
  border-radius: 5px;
  border: 1px solid #dcddde;
  background-color: #dcddde;
}

table {
  border: 1px solid #dcddde;
  border-collapse: collapse;
}

th {
  background-color: #70767b;
  border: 1px solid #36393f;
  border-collapse: collapse;
  padding: 5px;
}

td {
  background-color: #dcddde;
  color: #36393f;
  border: 1px solid #36393f;
  border-collapse: collapse;
  padding: 5px;
}
